@use "../abstracts" as *;

.menu {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
}
.restaurant {
  display: flex;
  justify-content: space-between;
  @media (min-width: $desktop) {
    justify-content: center;
    gap: 24px;
  }
  &__title {
    font-family: "Shrikhand", serif;
    font-size: 28px;
    font-weight: 400;
    margin: 0;
  }
}
.courses {
  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: $fontsize_2;
    font-weight: $fontweight_1;
    margin: 0 0 0 0;
    opacity: 0;
    animation-name: title-show-up;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;

    @keyframes title-show-up {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
  &__title--underline {
    border-bottom: solid 3px #99e2d0;
    width: 40px;
    padding-bottom: 6px;
  }
}
