@use "../abstracts" as *;
.restaurant {
  background-color: $main-bg-color;
  padding-top: 50px;
  padding-bottom: 70px;
  a {
    color: inherit;
    text-decoration: none;
  }
}
.card {
  padding-bottom: 18px;
  img {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 174px;
  }
  .card__content {
    padding-left: 13px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    justify-content: space-between;
    h3 {
      margin-top: 16px;
      margin-bottom: 5px;
    }
    p {
      margin: 0;
      padding-bottom: 15px;
    }
  }
}
