@use "../abstracts" as *;
.selection {
  background-color: $main-bg-color;
  padding-top: 50px;
  padding-bottom: 70px;
  @media (min-width: $desktop) {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  &__cards {
    @media (min-width: $desktop) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 50px 100px;
    }
  }
}
.card {
  position: relative;
  padding-bottom: 18px;

  @media (min-width: $desktop) {
    flex: 1 1 33%;
    padding-bottom: 0;
  }

  &__photo {
    border-radius: 15px 15px 0px 0px;
    height: 174px;
    width: 100%;
    @media (min-width: $desktop) {
      max-width: 500px;
    }
  }
  &__content {
    padding-left: 13px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    display: flex;
  }
  &__title {
    margin-top: 16px;
    margin-bottom: 5px;
  }
  &__location {
    margin: 0;
    padding-bottom: 15px;
  }
}
