@use "../abstracts" as *;

.tagline {
  background-color: $main-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 10px;
    max-width: 275px;
    font-size: 1.5rem;
  }
  p {
    margin: 0;
    margin-bottom: 30px;
    max-width: 315px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #353535;
  }
}
