@use "../abstracts" as *;
footer {
  background-color: #353535;
  padding-bottom: 6px;
  @media (min-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

.footer__nav {
  padding-left: 20px;
  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .footer__logo {
    font-family: "Shrikhand", serif;
    color: white;
    font-size: $fontsize_3;
    font-weight: 400;
    margin: 0;
    padding-top: 22px;
    padding-bottom: 16px;
    @media (min-width: $desktop) {
      padding: 0;
      display: flex;
      align-items: center;
      margin-left: 75px;
      margin-right: 50px;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    @media (min-width: $desktop) {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
  }
  li {
    padding-bottom: 7px;
    @media (min-width: $desktop) {
      padding: 0;
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
}
.footer__ul {
  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}
