@use "../abstracts" as *;
header {
  background-color: white;
}
.back {
  position: absolute;
  top: 35px;
  left: 35px;
  font-size: $fontsize_6;
  color: #353535;
}
.logo {
  box-shadow: 0px 2px 4px 0px #00000026;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  img {
    width: 200px;
  }
}
