/*** SIZE ***/
$fontsize_1: 14px;
$fontsize_2: 15px;
$fontsize_3: 16px;
$fontsize_4: 17px;
$fontsize_5: 18px;
$fontsize_6: 20px;
$fontsize_7: 24px;
$fontsize_8: 40px;
$fontloader_1: 50px;
$fontloader_2: 80px;
/*** WEIGHT ****/
$fontweight_1: 300;
$fontweight_2: 400;
$fontweight_3: 500;
$fontweight_4: 700;
