@use "../abstracts" as *;

.menu {
  margin-top: -50px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px 50px 0 0;
  background-color: #f6f6f6;
}
.restaurant {
  display: flex;
  justify-content: space-between;
  @media (min-width: $desktop) {
    justify-content: center;
    gap: 24px;
  }
  .restaurant__title {
    font-family: "Shrikhand", serif;
    font-size: 28px;
    font-weight: 400;
    margin: 0;
  }
}
.courses {
  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .courses__title {
    font-size: $fontsize_2;
    font-weight: $fontweight_1;
    margin: 0 0 0 0;
    opacity: 0%;
    animation-name: title-show-up;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;

    @keyframes title-show-up {
      from {
        opacity: 0%;
      }

      to {
        opacity: 100%;
      }
    }
  }
  .courses__title__underline {
    border-bottom: solid 3px #99e2d0;
    width: 40px;
    padding-bottom: 6px;
  }
  ul {
    margin: 0;
    padding-left: 0;
  }
  .dish__card {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    margin-top: 12px;
    background-color: white;
    box-shadow: 0px 4px 15px 0px #0000001a;
    opacity: 0%;
    animation-name: card-show-up;
    animation-duration: 750ms;
    animation-fill-mode: forwards;

    @keyframes card-show-up {
      from {
        opacity: 0%;
      }

      to {
        opacity: 100%;
      }
    }
    @for $i from 1 through 100 {
      &:nth-child(#{$i}) {
        animation-delay: 500ms * $i;
      }
    }
    @media (min-width: $desktop) {
      min-width: 634px;
    }

    .dish__content {
      overflow: hidden;
      padding: 13.5px;
      width: 100%;
    }
    .dish__input {
      position: absolute;
      height: 100%;
      width: 100%;
      appearance: none;
    }
    .dish__label {
      border-radius: 0 15px 15px 0;
      flex: 0 0 0;
      min-width: 0px;
      background-color: #99e2d0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: min-width 1000ms 100ms;
      &:before {
        font-family: "Font Awesome 5 Free";
        content: "\f058";
        color: white;
        font-weight: 900;
        font-size: 20px;
        opacity: 0;
        transition: opacity 1000ms 100ms;
      }
    }
    .dish__input:checked + .dish__label {
      min-width: 60px;
      &:before {
        font-family: "Font Awesome 5 Free";
        content: "\f058";
        color: white;
        font-weight: 900;
        font-size: 20px;
        opacity: 1;
      }
    }

    .dish__title {
      margin: 0 0 5px 0;
      font-weight: 500;
    }
    .dish__details {
      margin: 0;
      font-weight: 300;
    }
    .dish-price {
      align-self: flex-end;
      margin: 0;
      padding: 13.5px;
    }
  }
}
