@use "../abstracts" as *;
.new {
  position: absolute;
  right: 20px;
  padding: 7px 9px;
  background-color: $green-1;
  color: $green-2;
  font-size: $fontsize_1;
  font-weight: $fontweight_3;
  width: 80px;
  @media (min-width: $desktop) {
  }
}
