$main-bg-color: #f6f6f6;
$green-1: #99e2d0;
$green-2: #008766;
$blue-1: #89c8fa;
$blue-2: #003a68;
$purple-1: #ff79da;
$purple-2: #9356dc;
/*** gradiant***/
$gradiant-color-1: linear-gradient(
  193.33deg,
  $purple-2 -11.44%,
  $purple-1 123.93%
);
