/*** SIZE ***/
$fontsize_1: 15px;
$fontsize_2: 16px;
$fontsize_3: 17px;
$fontsize_4: 18px;
$fontsize_5: 20px;
$fontsize_6: 24px;
$fontsize_7: 40px;

/*** WEIGHT ****/
$fontweight_1: 300;
$fontweight_2: 400;
$fontweight_3: 500;
$fontweight_4: 700;
