/*** SIZE ***/
$fontsize_1: 0.9rem;
$fontsize_2: 1rem;
$fontsize_3: 1.1rem;
$fontsize_4: 1.2rem;
$fontsize_5: 1.3rem;
$fontsize_6: 1.5rem;
$fontsize_7: 2.5rem;

/*** WEIGHT ****/
$fontweight_1: 300;
$fontweight_2: 400;
$fontweight_3: 500;
$fontweight_4: 700;
